<!DOCTYPE html>
<html>
<head>
  <title>Camera stage</title>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
  <script src="https://unpkg.com/konva@9/konva.min.js"></script>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
      gap: 10px;
    }
  </style>
</head>
<body>
  
    <h2>Camera Stage</h2>
    <!-- <canvas id="machine_frame" width="420" height="420" style="border:1px solid #000;"></canvas> -->
    <div class="grid-container">
      <div id="Konva">
      </div>
      <div>
        <img id="live_image" src="http://localhost:5006/video" alt="Live Stream" height="500" style="border:1px solid #000;"/>
      </div>
    </div>

    
    
    <p id="coords">X: 0, Y: 0</p>

    <button id="capture">capture</button>
    <button id="stitch_refresh">refresh</button>
    <button id="home">home</button>
    <button id="scan">scan</button>"

    <button id="clear_img">clear</button>
    <button id="download_img">download</button>

    <button id="move_up">up</button>
    <button id="move_down">down</button>
    

    <!-- <canvas id="image_frame" width="400" height="300" style="border:1px solid #000;"></canvas> -->

    <br>
    <H1>Camera Adjust</H1>
    <label for="Expousre">Adjust value:</label>
    <input type="range" id="exposure_range"/>
    <output id="exposure_value">0</output>

    
    
    

    <!-- <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script> -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
